{% extends 'app/navigation.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="myappointmentpage">
    <div class="myappointmentbody">
        <div class="myappointment_left">
            <div class="myappointment_leftbody">
                <h3>My Appointments</h3>
                <div class="myappointment_nav">
                    <ul>
                        <li><a href="{% url 'my_appointment' %}"><img src="{% static 'images/icon/pending.png' %}" alt="">Product Viewing Appointment</a></li>
                        <li><a href="{% url 'my_sellingappointment' %}"><img src="{% static 'images/icon/trading.png' %}" alt="">Selling Device Appointment</a></li>
                        <li><a href="{% url 'my_cancelledappointment' %}"><img src="{% static 'images/icon/cancel.png' %}" alt="">Cancelled Appointment</a></li>
                        <li><a href="{% url 'my_historyappointment' %}"><img src="{% static 'images/icon/history.png' %}" alt="">History</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="myappointment_right">
            <h3>Product Viewing Appointment</h3>
            <div class="myappointment_rightsearch">
            </div>
            <div class="myappoinment_rightup">
                <label>All appointments<p>( {{ count_all }} )</p></label>
                <label>Pending<p>( {{ count_pending }} )</p></label>
                <label>Completed<p>( {{ count_completed }} )</p></label>
                <label>Cancelled<p>( {{ count_cancelled }} )</p></label>
            </div>
            <div class="myappointment_righttable">
                <table>
                {% if user.is_authenticated %}
                    {% if historyappointment %}
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Date & Time</th>
                                <th>Status</th>
                                <th>Reference No.</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for history in historyappointment %}
                            {% for produkto in history.products.all %}
                                <tr>
                                    <td>
                                        <img src="{{ produkto.product.image.url }}" alt="{{ produkto.product.product_name }}">
                                        {{ produkto.product.product_name }} </br> ₱{{ produkto.price|intcomma }}
                                    </td>
                                    <td>{{ history.date|date:"M d, Y" }} </br> {{ history.time|time:"h:i A" }}</td>
                                    <td>{{ history.status }}</td>
                                    <td>{{ history.reference_number }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                        {% else %}
                            <p></p>
                    {% endif %}
                    {% else %}
                        <p></p>
                {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
<!--
<div class="myappointmentpage">
    <div class="myappointmentbody">
        <div class="myappointment_left">
            <div class="myappointment_navbar">
                <table>
                    <thead>
                        <tr>
                            <th><a href="{% url 'my_appointment' %}">Product Viewing Appointment</a></th>
                            <th><a href="{% url 'my_sellingappointment' %}">Selling Device Appointment</a></th>
                            <th><a href="{% url 'my_cancelledappointment' %}">Cancelled Appointment</a></th>
                            <th><a href="{% url 'my_historyappointment' %}">History</a></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="myappointment_body">
            <section class="myappointment_section">
                <div class="appointment-container">
                {% if user.is_authenticated %}
                    {% if historyappointment %}
                        {% for history in historyappointment %}
                            {% for produkto in history.products.all %}
                            <div class="appointment-card">
                                <div class="history_tag">
                                    {% if history.status == "Cancelled" %}
                                        <span class="historystatus_tag cancelled">Cancelled</span>
                                    {% elif history.status == "Finished" %}
                                        <span class="historystatus_tag finished">Completed</span>
                                    {% endif %}
                                </div>
                                <p><span class="month">{{ history.date|date:"F" }}</span>
                                    <span class="day">{{ history.date|date:"d" }}</span>
                                    <span class="year">{{ history.date|date:"Y" }} <span>{{ history.time|time:"h:i A" }}</span></span>
                                </p>
                                <div class="appointmentcard-hover">
                                    <div class="appointmenthover_content">
                                        <div class="appoinmenthover_image">
                                            {% if produkto.product.image %}
                                                <img src="{{ produkto.product.image.url }}" alt="Product">
                                            {% endif %}
                                            {% if history.product_name %}
                                                <p>{{ history.product_name }}</p>
                                            {% else %}
                                                <p>{{ produkto.product.product_name }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="appointmenthover_contentitem">
                                            <h4>My Contact: </h4>
                                            <p>{{ history.contact }}</p>
                                            <h4>Price:</h4>
                                            <p>₱{{ produkto.price|intcomma }}</p>
                                            <p id="appointmenthover_ref">{{ history.reference_number }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    {% elif no_history_appointments %}
                        <p>No History</p>
                    {% endif %}
                {% else %}
                    <div class="myappointment_login">
                        <p>You need to <a href="{% url 'login' %}">log in</a> first.</p>
                    </div>
                {% endif %}
                </div>
            </section>
        </div>
    </div>
</div>
-->
{% endblock %}