{% extends 'app/navigation.html' %}
{% load static %}

{% block content %}
<div class="signuppage">
    <div class="signup_body">
        <div class="signup_left">
            <div class="signup_leftbody">
                <h2>Sign Up</h2>
                <form method="POST">
                    {% csrf_token %}
                        {% if otp_code %}
                        <h3>Verify Your Email</h3>
                        <label for="otp_code">Enter OTP:</label>
                            <input type="text" name="otp_code" required>
                            <input type="hidden" name="username" value="{{ form.instance.username }}">
                        <button type="submit">Verify OTP</button>
                        {% if not otp_code %}
                            <a href="{% url 'resend-otp' %}">Resend OTP</a>
                        {% endif %}
                        {% else %}
                        {% for field in form %}
                            {% if field.errors %}
                            <div>
                                {{ field }}
                                <small>{{ field.errors }}</small>
                            </div>
                            {% else %}
                            <div>
                                {{ field }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    <button type="submit">Sign up</button>
                </form>
                <div class="signup_otheracc">
                    <p>or signin with</p>
                    <div class="signupacc_logo">
                        <a href="#"><img src="{% static 'images/icon/facebook-blue.png' %}" alt="Facebook"></a>
                        <a href="#"><img src="{% static 'images/icon/google-symbol.png' %}" alt="Facebook"></a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="signup_right">
            <div class="signup_rightbody">
                <h4>Welcome Back!</h4>
                <div class="signupright_bodyp">
                    <p>Sign in to manage your appointments and device listings.</p>
                </div>
                <a href="{% url 'login' %}">Sign In</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}